* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: black;
    cursor: pointer;
    border: 0;
    color: #fff;
}

.div {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    /* animation: div 3s 1; */
}

button:active+.div {
    animation: div 3s 1;
}

@keyframes div {

    /* from {
        top: 40px;
        left: 50px
    }

    to {
        top: 875px;
        left: 1800px;
    } */
    0% {
        top: 0px;
        left: 0px;
    }

    50% {
        top: 875px;
        left: 1800px;
        width: 200px;
        height: 200px;
    }

    100% {
        top: 40px;
        left: 50px;
        width: 100px;
        height: 100px;
    }
}